{
  "branches": ["release/M*","master"],
  "plugins": [
    ["@semantic-release/commit-analyzer", {
      "preset": "conventionalcommits",
      "releaseRules": [
          {type: 'improvement', release: 'patch'},
      ],
      "presetConfig": {
        "types": [
          {"type": "improvement", "section": "Improvement", "hidden": false}
        ]
      }
    }],
    ["@semantic-release/release-notes-generator", {
      "preset": "conventionalcommits",
      "releaseRules": [
          {type: 'improvement', release: 'patch'},
      ],
      "presetConfig": {
        "types": [
          {"type": "improvement", "section": "Improvement", "hidden": false}
        ]
      }
    }],
    "@semantic-release/changelog",
    "@semantic-release/github",
    "@semantic-release/git"
  ]
}
